<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dishboard</title>
<link href="{#helper\globals::getCss("style")#}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{#helper\globals::getJs("jquery")#}"></script>

</head>


<body>

	<div class="place">
    <span>位置：</span>
    <ul class="placeul">
    <li><a href="javascript:;">首页</a></li>
    </ul>
    </div>
    
    <div class="mainindex">
    
    
    <div class="welinfo">
    <span><img src="{#helper\globals::getImage("sun.png")#}" alt="天气" /></span>
    <b>Admin早上好，欢迎使用信息管理系统</b>
    <a href="#">帐号设置</a>
    </div>
    
    <div class="welinfo">
    <span><img src="{#helper\globals::getImage("time.png")#}" alt="时间" /></span>
    <i>您上次登录的时间：2013-10-09 15:22</i> （不是您登录的？<a href="{#\helper\globals::getFullUrl('main/logout')#}" target="_parent">请点这里</a>）
    </div>
    
    <div class="xline"></div>
    
    <ul class="iconlist">
    
    <li><img src="{#helper\globals::getImage("ico01.png")#}" /><p><a href="#">管理设置</a></p></li>
    <li><img src="{#helper\globals::getImage("ico02.png")#}" /><p><a href="{#helper\globals::getFullUrl("/database/creator")#}">规则生成器</a></p></li>
    <li><img src="{#helper\globals::getImage("ico03.png")#}" /><p><a href="{#helper\globals::getFullUrl("/database/rules")#}">详细规则管理</a></p></li>
    <li><img src="{#helper\globals::getImage("ico04.png")#}" /><p><a href="{#helper\globals::getFullUrl("/database/table")#}">数据管理</a></p></li>
    <li><img src="{#helper\globals::getImage("ico05.png")#}" /><p><a href="{#helper\globals::getFullUrl("/dirs")#}">目录管理</a></p></li>
    <li><img src="{#helper\globals::getImage("ico06.png")#}" /><p><a href="{#helper\globals::getFullUrl("/formbuilder")#}">表单生成器</a></p></li>
            
    </ul>
    
    <div class="ibox"><a class="ibtn" href="{#helper\globals::getFullUrl('shortcut')#}"><img src="{#helper\globals::getImage("iadd.png")#}" />添加新的快捷功能</a></div>
    
    <div class="xline"></div>
    <div class="box"></div>
    
    <div class="welinfo">
    <span><img src="{#helper\globals::getImage("dp.png")#}" alt="提醒" /></span>
    <b>Uimaker信息管理系统使用指南</b>
    </div>
    
    <ul class="infolist">
    <li><span>您可以快速进行文章发布管理操作</span><a class="ibtn">发布或管理文章</a></li>
    <li><span>您可以快速发布产品</span><a class="ibtn">发布或管理产品</a></li>
    <li><span>您可以进行密码修改、账户设置等操作</span><a class="ibtn">账户管理</a></li>
    </ul>
    
    <div class="xline"></div>
    
    <div class="uimakerinfo"><b>查看Uimaker网站使用指南，您可以了解到多种风格的B/S后台管理界面,软件界面设计，图标设计，手机界面等相关信息</b>(<a href="http://www.uimaker.com" target="_blank">www.uimaker.com</a>)</div>
    
    <ul class="umlist">
    <li><a href="#">如何发布文章</a></li>
    <li><a href="#">如何访问网站</a></li>
    <li><a href="#">如何管理广告</a></li>
    <li><a href="#">后台用户设置(权限)</a></li>
    <li><a href="#">系统设置</a></li>
    </ul>
    
    
    </div>
    
    

</body>

</html>
