<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="{#\helper\globals::getCss("style")#}"="" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="{#\helper\globals::getJs("jquery")#}"=""></script>
    <script type="text/javascript">
            $(function(){
                //导航切换
                $(".menuson li").click(function(){
                    $(".menuson li.active").removeClass("active")
                    $(this).addClass("active");
                });

                $('.title').click(function(){
                    var $ul = $(this).next('ul');
                    $('dd').find('ul').slideUp();
                    if($ul.is(':visible')){
                        $(this).next('ul').slideUp();
                    }else{
                        $(this).next('ul').slideDown();
                    }
                });
            })
    </script>
</head>
<body style="background:#f0f9fd;">
<div class="lefttop">
    <span></span>管理菜单
</div>
<dl class="leftmenu">
    <dd>
        <div class="title">
            <span><img src="{#\helper\globals::getImage("leftico01.png")#}"="" /></span>数据库功能
        </div>
        <ul class="menuson">
            <li><cite></cite><a href="{#helper\globals::getFullUrl("/database/creator")#}" target="rightFrame">规则生成器</a><i></i></li>
            <li><cite></cite><a href="{#helper\globals::getFullUrl("/database/rules")#}" target="rightFrame">详细规则管理</a><i></i></li>
            <li><cite></cite><a href="{#helper\globals::getFullUrl("/database/table")#}" target="rightFrame">数据管理</a><i></i></li>
        </ul>
    </dd>
    <dd>
        <div class="title">
            <span><img src="{#\helper\globals::getImage("leftico01.png")#}"="" /></span>目录管理
        </div>
        <ul class="menuson">
            <li><cite></cite><a href="{#helper\globals::getFullUrl("/dirs")#}" target="rightFrame">文件管理</a><i></i></li>
        </ul>
    </dd>
    <dd>
        <div class="title">
            <span><img src="{#\helper\globals::getImage("leftico02.png")#}"="" /></span>表单工具
        </div>
        <ul class="menuson">
            <li><cite></cite><a href="{#helper\globals::getFullUrl("/formbuilder")#}" target="rightFrame">表单生成器</a><i></i></li>
        </ul>
    </dd>
    <dd>
        <div class="title">
            <span><img src="{#\helper\globals::getImage("leftico03.png")#}"="" /></span>编辑器
        </div>
        <ul class="menuson">
            <li><cite></cite><a href="#">自定义</a><i></i></li>
            <li><cite></cite><a href="#">常用资料</a><i></i></li>
            <li><cite></cite><a href="#">信息列表</a><i></i></li>
            <li><cite></cite><a href="#">其他</a><i></i></li>
        </ul>
    </dd>
    <dd>
        <div class="title">
            <span><img src="{#\helper\globals::getImage("leftico04.png")#}"="" /></span>日期管理
        </div>
        <ul class="menuson">
            <li><cite></cite><a href="#">自定义</a><i></i></li>
            <li><cite></cite><a href="#">常用资料</a><i></i></li>
            <li><cite></cite><a href="#">信息列表</a><i></i></li>
            <li><cite></cite><a href="#">其他</a><i></i></li>
        </ul>
    </dd>
</dl>
</body>
</html>