##
#
#	$Id: .htaccess 268 2009-12-16 06:18:19Z Jinhui.Zhu $
#
#	Copyright (C) 2008-2009 QSDisk Team. All Rights Reserved.
#  
##
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteCond $1 !^(index.php|images|robots.txt)
RewriteRule !^m/(.*)$ index.php/$1 [L,QSA,PT]
RewriteRule ^m/(.*)$ manage.php/$1
RewriteRule ^vendor/(.*)$ vendor.php/$1

#RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
#authtype basic
#authname "authname"
#authuserfile .htpasswd
#require valid-user
